.converted_price {
    color: #aaaaaa;
}
.source_operator_summary {
    margin: 7px 7px 7px 7px;
    display: inline-block;
}
.source_operator_pagination_btn.pagination {
    display: block;
    margin: 0 0 10px;
}
.pagination_sum_wrap {
    margin-bottom: 10px;
}
.arbitrary_detail_views_wrap td{
    word-break: break-all;
}
body {
    overflow-x: hidden;
}