[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ok_comment:before {
    content: "\e97f";
}
.icon-epayments12:before {
    content: "\e99a";
}
.icon-webmoney1:before {
    content: "\e96a";
}
.icon-yandex1 .path1:before {
    content: "\e96b";
    color: rgb(244, 205, 48);
}
.icon-yandex1 .path2:before {
    content: "\e96c";
    margin-left: -0.76171875em;
    color: rgb(199, 170, 41);
}
.icon-yandex1 .path3:before {
    content: "\e96d";
    margin-left: -0.76171875em;
    color: rgb(0, 0, 0);
}
.icon-qiwi1:before {
    content: "\e96e";
}
.icon-ie1 .path1:before {
    content: "\e96f";
    color: rgb(53, 137, 237);
}
.icon-ie1 .path2:before {
    content: "\e970";
    margin-left: -0.875em;
    color: rgb(180, 180, 181);
}
.icon-ie1 .path3:before {
    content: "\e971";
    margin-left: -0.875em;
    color: rgb(45, 45, 45);
}
.icon-ie1 .path4:before {
    content: "\e972";
    margin-left: -0.875em;
    color: rgb(255, 255, 255);
}
.icon-ie1 .path5:before {
    content: "\e973";
    margin-left: -0.875em;
    color: rgb(255, 255, 255);
}
.icon-ie1 .path6:before {
    content: "\e974";
    margin-left: -0.875em;
    color: rgb(77, 75, 76);
}
.icon-card1 .path1:before {
    content: "\e975";
    color: rgb(112, 165, 242);
}
.icon-card1 .path2:before {
    content: "\e976";
    margin-left: -1.52734375em;
    color: rgb(40, 56, 73);
}
.icon-card1 .path3:before {
    content: "\e977";
    margin-left: -1.52734375em;
    color: rgb(7, 22, 40);
}
.icon-card1 .path4:before {
    content: "\e978";
    margin-left: -1.52734375em;
    color: rgb(255, 198, 72);
}
.icon-card1 .path5:before {
    content: "\e979";
    margin-left: -1.52734375em;
    color: rgb(211, 55, 47);
}
.icon-card1 .path6:before {
    content: "\e97a";
    margin-left: -1.52734375em;
    color: rgb(41, 54, 136);
}
.icon-card1 .path7:before {
    content: "\e97b";
    margin-left: -1.52734375em;
    color: rgb(41, 54, 136);
}
.icon-card1 .path8:before {
    content: "\e97c";
    margin-left: -1.52734375em;
    color: rgb(41, 54, 136);
}
.icon-card1 .path9:before {
    content: "\e97d";
    margin-left: -1.52734375em;
    color: rgb(41, 54, 136);
}
.icon-card1 .path10:before {
    content: "\e97e";
    margin-left: -1.52734375em;
    color: rgb(247, 152, 29);
}
.icon-paxum1 .path1:before {
    content: "\e980";
    color: rgb(229, 229, 229);
}
.icon-paxum1 .path2:before {
    content: "\e981";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-paxum1 .path3:before {
    content: "\e982";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-paxum1 .path4:before {
    content: "\e983";
    margin-left: -1em;
    color: rgb(163, 30, 35);
}
.icon-paypal1 .path1:before {
    content: "\e984";
    color: rgb(48, 61, 125);
}
.icon-paypal1 .path2:before {
    content: "\e985";
    margin-left: -0.849609375em;
    color: rgb(48, 61, 125);
}
.icon-paypal1 .path3:before {
    content: "\e986";
    margin-left: -0.849609375em;
    color: rgb(89, 154, 212);
}
.icon-paypal1 .path4:before {
    content: "\e987";
    margin-left: -0.849609375em;
    color: rgb(41, 48, 99);
}
.icon-wire1 .path1:before {
    content: "\e988";
    color: rgb(45, 45, 45);
}
.icon-wire1 .path2:before {
    content: "\e989";
    margin-left: -1.091796875em;
    color: rgb(222, 222, 222);
}
.icon-wire1 .path3:before {
    content: "\e98a";
    margin-left: -1.091796875em;
    color: rgb(45, 45, 45);
}
.icon-wire1 .path4:before {
    content: "\e98b";
    margin-left: -1.091796875em;
    color: rgb(45, 45, 45);
}
.icon-wire1 .path5:before {
    content: "\e98c";
    margin-left: -1.091796875em;
    color: rgb(189, 188, 189);
}
.icon-wire1 .path6:before {
    content: "\e98d";
    margin-left: -1.091796875em;
    color: rgb(189, 188, 189);
}
.icon-wire1 .path7:before {
    content: "\e98e";
    margin-left: -1.091796875em;
    color: rgb(222, 222, 222);
}
.icon-wire1 .path8:before {
    content: "\e98f";
    margin-left: -1.091796875em;
    color: rgb(189, 188, 189);
}
.icon-wire1 .path9:before {
    content: "\e990";
    margin-left: -1.091796875em;
    color: rgb(189, 188, 189);
}
.icon-wire1 .path10:before {
    content: "\e991";
    margin-left: -1.091796875em;
    color: rgb(222, 222, 222);
}
.icon-wire1 .path11:before {
    content: "\e992";
    margin-left: -1.091796875em;
    color: rgb(189, 188, 189);
}
.icon-wire1 .path12:before {
    content: "\e993";
    margin-left: -1.091796875em;
    color: rgb(189, 188, 189);
}
.icon-wire1 .path13:before {
    content: "\e994";
    margin-left: -1.091796875em;
    color: rgb(222, 222, 222);
}
.icon-le1 .path1:before {
    content: "\e995";
    color: rgb(189, 188, 189);
}
.icon-le1 .path2:before {
    content: "\e996";
    margin-left: -1.234375em;
    color: rgb(77, 75, 76);
}
.icon-le1 .path3:before {
    content: "\e997";
    margin-left: -1.234375em;
    color: rgb(222, 222, 222);
}
.icon-le1 .path4:before {
    content: "\e998";
    margin-left: -1.234375em;
    color: rgb(45, 45, 45);
}
.icon-le1 .path5:before {
    content: "\e999";
    margin-left: -1.234375em;
    color: rgb(77, 75, 76);
}
.icon-icq:before {
    content: "\e900";
}
.icon-nav-close:before {
    content: "\e901";
}
.icon-nav-open:before {
    content: "\e902";
}
.icon-skype:before {
    content: "\e903";
}
.icon-payments:before {
    content: "\e904";
}
.icon-promo:before {
    content: "\e905";
}
.icon-user:before {
    content: "\e906";
}
.icon-statistic:before {
    content: "\e907";
}
.icon-box:before {
    content: "\e908";
}
.icon-filter:before {
    content: "\e909";
}
.icon-plus1:before {
    content: "\e90a";
}
.icon-plus:before {
    content: "\e90b";
}
.icon-minus:before {
    content: "\e90c";
}
.icon-atach:before {
    content: "\e90d";
}
.icon-calendar:before {
    content: "\e90e";
}
.icon-search:before {
    content: "\e90f";
}
.icon-cancel_4:before {
    content: "\e910";
}
.icon-grid_icon2:before {
    content: "\e911";
}
.icon-grid_icon1:before {
    content: "\e912";
}
.icon-checked:before {
    content: "\e913";
}
.icon-plus2:before {
    content: "\e914";
}
.icon-checked_big:before {
    content: "\e915";
}
.icon-clock_4:before {
    content: "\e916";
}
.icon-lock:before {
    content: "\e917";
}
.icon-clock_3:before {
    content: "\e918";
}
.icon-code:before {
    content: "\e919";
}
.icon-profile:before {
    content: "\e91a";
}
.icon-delete:before {
    content: "\e91b";
}
.icon-exit:before {
    content: "\e91c";
}
.icon-down:before {
    content: "\e91d";
}
.icon-down2:before {
    content: "\e91e";
}
.icon-next:before {
    content: "\e91f";
}
.icon-sortby:before {
    content: "\e920";
}
.icon-double_arrow:before {
    content: "\e921";
}
.icon-double_arrow2:before {
    content: "\e922";
}
.icon-down_2:before {
    content: "\e923";
}
.icon-down_22:before {
    content: "\e924";
}
.icon-no_data:before {
    content: "\e925";
}
.icon-next_3:before {
    content: "\e926";
}
.icon-file:before {
    content: "\e927";
}
.icon-edit:before {
    content: "\e928";
}
.icon-edit_2:before {
    content: "\e929";
}
.icon-ruble:before {
    content: "\e92a";
}
.icon-blank:before {
    content: "\e92b";
}
.icon-jabber:before {
    content: "\e92c";
}
.icon-neteller:before {
    content: "\e92d";
}
.icon-link:before {
    content: "\e92e";
}
.icon-loading:before {
    content: "\e92f";
}
.icon-zipicon2:before {
    content: "\e930";
}
.icon-uniE931:before {
    content: "\e931";
}
.icon-uniE932:before {
    content: "\e932";
}
.icon-uniE933:before {
    content: "\e933";
}
.icon-mail:before {
    content: "\e934";
}
.icon-uniE935:before {
    content: "\e935";
}
.icon-rub_payment:before {
    content: "\e936";
}
.icon-usd_payment:before {
    content: "\e937";
}
.icon-mail_4:before {
    content: "\e938";
}
.icon-webmoney:before {
    content: "\e939";
}
.icon-bubble:before {
    content: "\e93a";
}
.icon-mobile:before {
    content: "\e93b";
}
.icon-money:before {
    content: "\e93c";
}
.icon-options:before {
    content: "\e93d";
}
.icon-question:before {
    content: "\e93e";
}
.icon-wire_transfer:before {
    content: "\e93f";
}
.icon-uniE940:before {
    content: "\e940";
}
.icon-reload_2:before {
    content: "\e941";
}
.icon-reload_big:before {
    content: "\e942";
}
.icon-uniE943:before {
    content: "\e943";
}
.icon-uniE944:before {
    content: "\e944";
}
.icon-danger:before {
    content: "\e945";
}
.icon-shield:before {
    content: "\e946";
}
.icon-shield_checked:before {
    content: "\e947";
}
.icon-smile:before {
    content: "\e948";
}
.icon-smile2:before {
    content: "\e949";
}
.icon-star2:before {
    content: "\e94a";
}
.icon-star22:before {
    content: "\e94b";
}
.icon-stat:before {
    content: "\e94c";
}
.icon-new_ticket:before {
    content: "\e94d";
}
.icon-ticket:before {
    content: "\e94e";
}
.icon-euro_l:before {
    content: "\e94f";
}
.icon-user_big:before {
    content: "\e950";
}
.icon-view:before {
    content: "\e951";
}
.icon-view_2:before {
    content: "\e952";
}
.icon-wallet:before {
    content: "\e953";
}
.icon-android:before {
    content: "\e954";
}
.icon-news:before {
    content: "\e955";
}
.icon-support:before {
    content: "\e956";
}
.icon-faq:before {
    content: "\e957";
}
.icon-like:before {
    content: "\e958";
}
.icon-like2:before {
    content: "\e959";
}
.icon-uniE95A:before {
    content: "\e95a";
}
.icon-uniE95B:before {
    content: "\e95b";
}
.icon-uniE95C:before {
    content: "\e95c";
}
.icon-uniE95D:before {
    content: "\e95d";
}
.icon-ruble_l:before {
    content: "\e95e";
}
.icon-euro:before {
    content: "\e95f";
}
.icon-icon_test:before {
    content: "\e960";
}
.icon-icon_world:before {
    content: "\e961";
}
.icon-button_loader:before {
    content: "\e962";
}
.icon-dismiss:before {
    content: "\e963";
}
.icon-export:before {
    content: "\e964";
}
.icon-link_load:before {
    content: "\e965";
}
.icon-xls:before {
    content: "\e966";
}
.icon-csv:before {
    content: "\e967";
}
.icon-disabled_lp:before {
    content: "\e968";
}
.icon-telegram:before {
    content: "\e969";
}
.icon-change:before {
    content: "\e99b";
}
.card-addition__icon.icon-carts_visa {
    line-height: 16px;
    font-size: 24px;
}
.icon-carts_visa .path1:before {
    content: "\e9af";
    color: #77a1d5;
}
/* I hope I did not break anything. In the settings of purses, the icon had a strange "tail" */
//.icon-carts_visa .path2:before {
//    content: "\e9b0";
//    color: #77a1d5;
//    margin-left: -1.00390625em;
//}
//.icon-carts_visa .path3:before {
//    content: "\e9b1";
//    color: #77a1d5;
//    margin-left: -1.00390625em;
//}
.icon-carts_visa .path4:before {
    content: "\e9b2";
    color: #293849;
    margin-left: -1.00390625em;
}
.icon-carts_visa .path5:before {
    content: "\e9b3";
    color: #0c1829;
    margin-left: -1.00390625em;
}
.icon-carts_visa .path6:before {
    content: "\e9b4";
    color: #283b85;
    margin-left: -1.00390625em;
}
.icon-carts_visa .path7:before {
    content: "\e9b5";
    color: #283b85;
    margin-left: -1.00390625em;
}
.icon-carts_visa .path8:before {
    content: "\e9b6";
    color: #283b85;
    margin-left: -1.00390625em;
}
.icon-carts_visa .path9:before {
    content: "\e9b7";
    color: #283b85;
    margin-left: -1.00390625em;
}
.icon-carts_visa .path10:before {
    content: "\e9b8";
    color: #f69722;
    margin-left: -1.00390625em;
}
.card-addition__icon.icon-carts_master {
    line-height: 16px;
    font-size: 24px;
}
.icon-carts_master .path1:before {
    content: "\e99c";
    color: #77a1d5;
}
/* I hope I did not break anything. In the settings of purses, the icon had a strange "tail" */
//.icon-carts_master .path2:before {
//    content: "\e99d";
//    color: #77a1d5;
//    margin-left: -1.00390625em;
//}
//.icon-carts_master .path3:before {
//    content: "\e99e";
//    color: #77a1d5;
//    margin-left: -1.00390625em;
//}
.icon-carts_master .path4:before {
    content: "\e99f";
    color: #293849;
    margin-left: -1.00390625em;
}
.icon-carts_master .path5:before {
    content: "\e9a0";
    color: #0c1829;
    margin-left: -1.00390625em;
}
.icon-carts_master .path6:before {
    content: "\e9a1";
    color: #921c1e;
    margin-left: -1.00390625em;
}
.icon-carts_master .path7:before {
    content: "\e9a2";
    color: #f06723;
    margin-left: -1.00390625em;
}
.icon-carts_master .path8:before {
    content: "\e9a3";
    color: #f69720;
    margin-left: -1.00390625em;
}
.icon-carts_master .path9:before {
    content: "\e9a4";
    color: #ca2127;
    margin-left: -1.00390625em;
}
.icon-carts_master .path10:before {
    content: "\e9a5";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-carts_master .path11:before {
    content: "\e9a6";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-carts_master .path12:before {
    content: "\e9a7";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-carts_master .path13:before {
    content: "\e9a8";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-carts_master .path14:before {
    content: "\e9a9";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-carts_master .path15:before {
    content: "\e9aa";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-carts_master .path16:before {
    content: "\e9ab";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-carts_master .path17:before {
    content: "\e9ac";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-carts_master .path18:before {
    content: "\e9ad";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-carts_master .path19:before {
    content: "\e9ae";
    color: #fff;
    margin-left: -1.00390625em;
}
.icon-activeperday:before {
    content: "\e9b9";
}
.icon-activedb:before {
    content: "\e9ba";
}
.icon-balance:before {
    content: "\e9bb";
}

.icon-capitalist1 .path1:before {
    content: "\e99d";
    color: rgb(128, 189, 28);
}
.icon-capitalist1 .path2:before {
    content: "\e99e";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-capitalist1 .path3:before {
    content: "\e9b0";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-capitalist1 .path4:before {
    content: "\e9b1";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-capitalist1 .path5:before {
    content: "\e9bc";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-capitalist1 .path6:before {
    content: "\e9bd";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-usdt1 .path1:before {
    content: "\e9be";
    color: rgb(80, 175, 149);
}
.icon-usdt1 .path2:before {
    content: "\e9bf";
    margin-left: -1.1494140625em;
    color: rgb(255, 255, 255);
}





.icon-pages {
    @extend .icon-faq;
    @extend [class^="icon-"];
}
.icon-users {
    @extend .icon-user;
    @extend [class^="icon-"];
}

