@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic,latin-ext");
body {
  background: #faf9f9;
  font-family: 'Roboto', "Open Sans", Arial, Helvetica, sans-serif; }

.content-wrapper {
  background: #faf9f9; }

header#header {
  background: #faf9f9;
  border-bottom: 1px solid #eee;
  height: 62px;
  padding: 0; }
  header#header > div {
    height: 62px; }

#logo-group.logo-group {
  background-color: #fff;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px; }
  @media (min-width: 320px) and (max-width: 479px) {
    #logo-group.logo-group {
      width: 130px !important; } }

#logo.logo {
  margin-top: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  #logo.logo img {
    width: auto;
    max-width: 100%;
    max-height: 100%; }

#header > div.widgets-form-wrapper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  #header > div.widgets-form-wrapper .page-title {
    color: #272727;
    margin: 0; }
  @media (max-width: 845px) {
    #header > div.widgets-form-wrapper {
      display: none; } }

.btn-header {
  border-left: 1px solid #eee;
  height: 100%;
  display: flex;
  align-items: center; }
  .btn-header.pull-right {
    margin-left: 0; }
  .btn-header > :first-child > a {
    background: none;
    border: none;
    margin: 0;
    font-size: 20px;
    color: #4b4b4b;
    margin-top: 0 !important;
    min-width: 62px;
    height: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 600px) {
      .btn-header > :first-child > a {
        min-width: 42px; } }
  .btn-header > span {
    display: block;
    width: 100%;
    height: 100%; }
  @media (max-width: 880px) and (min-width: 768px) {
    .btn-header > :first-child > a {
      height: 100% !important; } }
  @media (max-width: 767px) {
    .btn-header > :first-child > a {
      height: 100% !important; } }

#hide-menu > :first-child > a {
  margin-top: 0 !important; }
  @media (max-width: 880px) and (min-width: 768px) {
    #hide-menu > :first-child > a {
      height: 100% !important; } }
  @media (max-width: 767px) {
    #hide-menu > :first-child > a {
      height: 100% !important; } }

@media (max-width: 600px) {
  #changelog-link,
  #modules-link {
    display: none; } }
.notification-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  border-left: 1px solid #eee;
  position: relative; }
  .notification-wrapper #activity.activity-dropdown {
    font-weight: 700;
    height: 100%;
    min-width: 62px;
    padding: 0 10px;
    font-size: 20px;
    color: #4b4b4b;
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .notification-wrapper #activity.activity-dropdown b.badge {
      background-color: #f9252e;
      padding: 3px 7px;
      top: 7px;
      right: 7px; }
    .notification-wrapper #activity.activity-dropdown:hover {
      border: 1px solid #bfbfbf;
      color: #222;
      transition: all 0s;
      -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.08);
      box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.08); }
    @media (max-width: 600px) {
      .notification-wrapper #activity.activity-dropdown {
        min-width: 42px; } }
  .notification-wrapper .ajax-dropdown {
    top: 62px;
    left: 25px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

#profile-summary.login-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: none;
  height: 100%;
  width: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  border-left: 1px solid #eee; }
  #profile-summary.login-info > span {
    border: none;
    padding: 0;
    height: 100%; }
  #profile-summary.login-info a {
    margin-top: 0;
    color: #4b4b4b;
    height: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #profile-summary.login-info a:hover {
      border: 1px solid #bfbfbf;
      color: #222;
      transition: all 0s;
      -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.08);
      box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.08); }
  #profile-summary.login-info img {
    border: none;
    margin-right: 10px;
    margin-top: 0; }
  @media (max-width: 965px) {
    #profile-summary.login-info img {
      margin-right: 0; }
    #profile-summary.login-info a > span {
      display: none; } }

aside#left-panel {
  background: #fff; }
  aside#left-panel nav > ul > li {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  aside#left-panel nav ul li.open {
    border-right: none;
    background: #faf9f9; }
  aside#left-panel nav ul li a {
    color: #323232;
    font-weight: 300;
    padding-top: 22px;
    padding-bottom: 22px; }
  aside#left-panel nav ul li.active a {
    color: #323232 !important;
    background: #e6e6e6; }
  aside#left-panel nav ul li a b {
    color: #b3b3b3;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0; }
  aside#left-panel nav ul li.open > a {
    color: #323232 !important; }
  aside#left-panel nav ul li.open a b {
    color: #b3b3b3 !important; }
  aside#left-panel nav ul ul {
    background: #f6f6f6;
    border-right: 1px solid #eee;
    -webkit-box-shadow: inset 0 1px 10px 0 rgba(117, 117, 117, 0.1);
    box-shadow: inset 0 1px 10px 0 rgba(117, 117, 117, 0.1);
    padding: 0; }
  aside#left-panel nav > ul > li > ul:before {
    content: none; }
  aside#left-panel nav > ul ul li:before {
    content: none; }
  aside#left-panel nav ul ul li > a {
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px; }
    aside#left-panel nav ul ul li > a:hover {
      background-color: #e6e6e6; }
  aside#left-panel .badge {
    color: #1f1f1f;
    font-size: 11px;
    font-weight: 700;
    background-color: #e6e5e5; }
  aside#left-panel .minifyme {
    background: none;
    border: none;
    color: #bdbdbd; }

.minified aside#left-panel nav ul li a {
  padding-top: 10px;
  padding-bottom: 10px; }
.minified aside#left-panel nav > ul > li > ul > li {
  background: none; }
.minified aside#left-panel nav > ul > li > ul > li > ul > li {
  background: none; }
.minified aside#left-panel nav > ul ul li:before {
  left: 5px;
  top: 11px; }
.minified aside#left-panel nav > ul ul ul li:before {
  left: 12px; }

.page-footer {
  background: #faf9f9;
  border-top: 1px solid #eee;
  padding: 0 30px;
  height: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .page-footer .footer-link {
    margin-bottom: 0; }
    .page-footer .footer-link a {
      color: #807f7f;
      font-size: 12px;
      font-weight: 300; }

.footer-company {
  color: #807f7f;
  font-size: 12px;
  font-weight: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }
  .footer-company__logo {
    margin-right: 10px; }
  .footer-company__caption {
    line-height: 30px; }

#ribbon {
  background: #faf9f9;
  border-left: 1px solid #eee;
  border-top: none;
  border-bottom: none;
  min-height: 50px;
  display: inline-block; }
  #ribbon .smartadmin-tabs {
    padding-right: 13px !important; }

.header-buttons {
  padding-top: 11px !important;
  border-bottom: 1px solid #eee; }

.header-buttons__block {
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 11px !important; }

.header-buttons__block .smartadmin-tabs,
.header-buttons__block .actions-buttons {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.actions-wrapper {
  font-size: 0; }
  .actions-wrapper .info {
    margin-right: 1em; }
  .actions-wrapper .actions-buttons {
    float: right;
    display: inline-block;
    margin: 11px 13px 0 0; }

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.smartadmin-tabs .btn,
.actions-wrapper .actions-buttons .btn {
  padding: 11px 15px;
  font-size: 12px; }
  @media (max-width: 1200px) {
    .smartadmin-tabs .btn,
    .actions-wrapper .actions-buttons .btn {
      padding-left: 13px;
      padding-right: 13px; } }
  @media (max-width: 350px) {
    .smartadmin-tabs .btn,
    .actions-wrapper .actions-buttons .btn {
      font-size: 10px;
      padding-top: 8px;
      padding-bottom: 8px; } }

/*# sourceMappingURL=custom-smartadmin-skin.css.map */
