.checkbox-select-group {
  margin-bottom: 7px;
}
.checkbox-select-group .checkbox {
  display: inline-block;
  height: 12px;
}

.checkbox-select-group .checkbox-select-group__label {
  cursor: pointer;
  display: inline;
  margin-left: -3px;
}

.checkbox-select-group .checkbox-select-group__name {
  border-bottom: 1px dotted; color:black;    font-size: 1.1em;
}

.checkbox-select-group .checkbox-select-group__icon {
  font-size: 0.7em
}

.cb_group-list {
  display: none;
  margin-left: 10px;
}

.filter-header {
  margin-bottom: 10px;
}

.filter .cb_group {
  margin-bottom: 0;
}